@media screen {

	html {
		width: 100%;
	}

    body{

        overflow: auto; /*прокрутка при необходимости*/
        width: 1920px;
        height: 1080px;
        background: #F0F0F3;
    }


    .main{
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        color: #FFFFFF;
    }


    .main h1{
        width: 498px;
        height: 106px;
        left: 229px;
        top: 56px;
        position: absolute;
        font-weight: 900;
        font-size: 61px;
        line-height: 71px;
        text-align: right;
    }

    .main h3{
        position: absolute;
        left: 1143px;
        top: 73px;

        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
    }



    button {
        font-family: Roboto;
        font-style: normal;
        border: none;
        outline: none;
        padding: 10px 20px;
        color: #D88D0A;
        font-weight: normal;
        margin-bottom: 50px;
        background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    border-radius: 50.5px;
    }

    .container{
        height:100%;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button:hover{
        font-weight: 500;
        cursor: pointer;
    }

    /*button:before,
    button:after {
        content: "";
        position: absolute;
        height: 200px;
        left: -50%;
        margin-top: -100px;
        top: 50%;
        width: 300px;
        border-radius: 50%;
        opacity: 0.3;
        z-index: -1;
        transform: scale(0);
    }
    button:before {
        background: #facf84;
        transition: .7s ease-out;
    }
    button:after {
        transition: .4s ease-in .3s;
    }

    button:hover:before,
    button:hover:after{
        opacity: 1;
        transform: scale(4);
    }*/

    table {
        width: 70%;
        height: 20%;
        margin: auto;
        font-family: 'Roboto', sans-serif;
    }

    th {
    font-family: 'Roboto';
    font-size: 16pt;
    }

    a{
    display: flex;
    align-items: center;
    position: absolute;
    width: 257px;
    height: 64px;
    left: 1019px;
    top: 680px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    }
}

@media (max-width: 768px) {
		body{
		width: 768px;
		}
	}