@media screen {

	html {
		width: 100%;
	}

    body{
        position: relative;
        overflow: auto; /*прокрутка при необходимости*/
        width: 1920px;
        height: 1080px;
        background: #F0F0F3;
    }

    .main{
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        color: #FFFFFF;

    }


    .main h1{
        width: 498px;
        height: 106px;
        left: 229px;
        top: 56px;

        font-weight: 900;
        font-size: 61px;
        line-height: 71px;
        text-align: right;
    }

    .main h3{
        width: 220px;
        height: 42px;
        left: 1143px;
        top: 73px;

        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
}

@media (max-width: 768px) {
		body{
		width: 768px;
		}
	}