<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" type="text/css" href='static/css/base-css.css/'>
    <title>RecipeFinder</title>
</head>
<body>
<img src="static/img/Ellipse.png" style="left: -439px; top: -350px;">
<img src="static/img/logologo.png" style="left: 43px; top: 1px; position: absolute;">
<img src="static/img/mockap.png" style="left: 366px; top: 298px; position: absolute">
<button class="btn">Get Started</button>
<a href="#">Watch the video</a>
<div class="main">
    <h1>Recipe Finder</h1>
    <h3>Home</h3>
    <h3 style="left: 1363px;">Privacy Policity</h3>
    <h3 style="left: 1583px;">Contacts</h3>
    <h1 style="left: 872px;top: 305px; text-align: right">Enter products.
We’ll show recipes.</h1>
    <h3 style="left: 1031px;top: 523px; width: 607px;
height: 103px;">Easily find, save and share 1.6 million recipes</h3>
</div>

</body>
</html>