<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" type="text/css" href='static/css/base-css.css/'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <title>RecipeFinder</title>
</head>
<link rel="stylesheet" type="text/css" href='static/css/base-css.css'>
<body style="width: 1152;">
<div class="main" style="transform: translate(0%,0%)">
    <img src="static/img/Ellipse.png" style="left: 0%; top: 0%; width: 1450px;">
    <img src="static/img/logologo.png" style="left: 43px; top: 0%; position: absolute;">
    <h1 style="left: 5%;
        top: 50px;">Recipe Finder</h1>
    <h1 style="left: 42%; top: 35%; text-align: right; width: 40%; font-weight: 500; height:98px;">Enter products.<br>
    We’ll show recipes.</h1>
    <h3 style="left: 40%; top: 60%; width: 50%;
height: 30px; display: inline-block;">Easily find, save and share 1.6 million recipes!</h3>
</div>
<div class="main" style="transform: translate(90%, 80%)">
<table style="margin: auto; text-align: center; width: 15%; border-spacing: 30px 20px;" >
     <tr>
         <th>
             <a style="text-decoration-line: underline;" href="/">Home</a>
         </th>
         <th>
            <a href="/policy" style="display: inline-block;">Privacy Policy</a>
         </th>
         <th>
             <a  href="/contacts">Contacts</a>
         </th>
     </tr>
    </table>
</div>
<button style="left: 70%; top: 70%; position: absolute;">Get Started</button>
<img src="static/img/mockup.png" style="left: 227px; top: 227px; position: absolute">
<a href="#" style="left: 50%; top: 70%; position: absolute; width: 15%;
    height: 64px;">How it works?</a>
<div class="main" style="transform: translate(0%, 200%)">
<table align="center" style="margin: auto; width: 90%;
	 text-align: center; border-spacing: 110px 60px;">
    <tr>
        <th class="block"><div><img src="/static/img/search.png" border="0" height="185"><br>Find</div>
            <br><h4 style="font-size: 24px;">Search for 1.6 million recipes</h4></th>
        <th class="block"><div><img src="/static/img/save.png" border="0" height="185"><br>Save</div>
            <br><h4 style="font-size: 24px;">Save unlimited amount of recipes</h4></th>
        <th class="block"><div><img src="/static/img/discover.png" border="0" height="185"><br>Discover</div>
            <br><h4 style="color: red; font-size:24px;">Coming soon</h4></th>
        <th class="block"><div><img src="/static/img/share.png" border="0" height="185"><br>Share</div>
            <br><h4 style="font-size: 24px;">Share recipes with friends & family!</h4></th>
    </tr>
</table>
</div>
</body>
</html>